extend layout/base

block title
    title BeeSurprised - Carrito de compras
    
block topbar
    include layout/topbar
    
block content
    .cart.section
        h1.title Carrito de compras
        
        .the-cart
            table.items
                thead
                    tr
                        th Cantidad
                        th Producto
                        th Precio
                        th Total
                tbody
                    tr.row
                        td
                            a.delete(href="#") X
                            input.input_qty(type="number", name="qty", value="2", min="1", max="10")
                        td Prueba
                        td 
                            span.unit_price
                                | $
                                span 80
                        td 
                            span.unit_total
                                | $
                                span 80
                    tr.row
                        td
                            a.delete(href="#") X
                            input.input_qty(type="number", name="qty", value="1", min="1", max="10")
                        td Prueba
                        td 
                            span.unit_price
                                | $
                                span 80
                        td 
                            span.unit_total
                                | $
                                span 80
                    tr.row
                        td
                            a.delete(href="#") X
                            input.input_qty(type="number", name="qty", value="1", min="1", max="10")
                        td Prueba
                        td 
                            span.unit_price
                                | $
                                span 80
                        td 
                            span.unit_total
                                | $
                                span 80
                    tr
                        td(colspan="3")
                            | Total
                        td 
                            span.total_price
                                | $
                                span 240
                        
            a.buy.btn(href="{{ url('pago') }}") Siguiente
        
block footer
    include layout/footer
