extend layout/base

block title
    title BeeSurprised - Carrito de compras
    
block topbar
    include layout/topbar
    
block content
    .cart.section
        h1.title Carrito de compras
        
        .the-cart
            table.items
                thead
                    tr
                        th Cantidad
                        th Producto
                        th Precio
                        th Total
                tbody
                    tr
                        td
                            input(type="number", name="qty", value="1")
                        td Prueba
                        td $80
                        td $80
                    tr
                        td
                            input(type="number", name="qty", value="1")
                        td Prueba
                        td $80
                        td $80
                    tr
                        td
                            input(type="number", name="qty", value="1")
                        td Prueba
                        td $80
                        td $80
                        
            a.buy.btn(href="#") Pagar
        
block footer
    include layout/footer
