extend layout/base

block title
    title BeeSurprised - Cajas de beneficios
    
block topbar
    include layout/topbar
    
block content
    .info.section
        h1.title Cajas de beneficios
        
        .types
            a.col.trial(href="#")
                //- img.img(src="{{ url('img/products/05.jpg') }}")
                h2.title Prueba
            a.col.monthly(href="#")
                //- img.img(src="{{ url('img/box.jpg') }}")
                h2.title Caja mensual
                
        .other
            a.col.gifts(href="#")
                //- img.img(src="{{ url('img/products/11.jpg') }}")
                h2.title Regalos - Próximamente
            a.col.choose(href="{{ url('catalogo') }}")
                //- img.img(src="{{ url('img/box.jpg') }}")
                h2.title Tú escoges - Compra sin suscribirte

block footer
    include layout/footer
