extend layout/base

block title
    title BeeSurprised - Catálogo de productos
    
block topbar
    include layout/topbar
    
block content
    .product.section
        .the-product
            .photos
                span.price $80
                .product-slider
                    ul.list
                        li.item
                            img.img(src="{{ url('img/products/02.jpg') }}")
                        li.item
                            img.img(src="{{ url('img/products/03.jpg') }}")
                        li.item
                            img.img(src="{{ url('img/products/04.jpg') }}")
                        li.item
                            img.img(src="{{ url('img/products/05.jpg') }}")
                        li.item
                            img.img(src="{{ url('img/products/06.jpg') }}")
            
            .details
                h1.title Nombre del producto
                
                .short-description
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod velit natus modi sed fugiat necessitatibus voluptatibus aut placeat nisi ex! Natus quo assumenda sit commodi officiis omnis labore iure. Autem.
                
                .actions
                    .qty
                        | Cantidad: 
                        input(type="number", name="qty", value="1", min="1", max="10")
                    
                    a.buy.btn(href="{{ url('carrito') }}") Añadir al carrito
            
        .large-description
            h2.title Descripción
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloremque minus eius, nemo asperiores, earum tenetur rerum quis debitis aspernatur facere. Dignissimos accusantium, ipsum iure! Eum error deleniti assumenda exercitationem?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloremque minus eius, nemo asperiores, earum tenetur rerum quis debitis aspernatur facere. Dignissimos accusantium, ipsum iure! Eum error deleniti assumenda exercitationem?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloremque minus eius, nemo asperiores, earum tenetur rerum quis debitis aspernatur facere. Dignissimos accusantium, ipsum iure! Eum error deleniti assumenda exercitationem?
            
            
block footer
    include layout/footer
