extend layout/base

block title
    title BeeSurprised - Elegir un tema
    
block topbar
    include layout/topbar
    
block content
    .themes.content
        h1.title Caja mensual
        
        .themes
        
block footer
    include layout/footer
