extend layout/base

block title
    title BeeSurprised

block topbar
    include layout/topbar
    
block slider
    include layout/slider
    
block how
    include layout/how
    
block boxes
    include layout/boxes

block locals
    include layout/locals

block cta
    include layout/cta

block footer
    include layout/footer
