.checkout
    .checkout-form
        +clearfix
        width: 60rem
        margin: 0 auto
        .shipping
            padding-right: 1rem
        .payment
            padding-left: 1rem
        .shipping, .payment
            float: left
            width: 50%
            .title
                color: $gold
                +font-size(16px)
                text-transform: uppercase
                margin-bottom: 1rem
                padding-bottom: 0.5rem
                border-bottom: 1px solid $gold
        .group
            margin-bottom: 1rem
        .label
            display: block
            width: 100%
            margin-bottom: 0.5rem
        .input
            border: 2px solid $orange
            border-radius: rem(3px)
            padding: 0.5rem 1rem
            width: 100%
            &:focus
                border: 2px solid $green
        .btn
            float: right
            +font-size(14px)
