.info
    .col
        display: block
        float: left
        height: 24rem
        overflow: hidden
        position: relative
        .title
            text-align: center
            text-transform: uppercase
            text-shadow: 1px 1px 2px rgba($black, 0.6)
            color: $white
            +font-size(20px)
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 100%
        .img
            pointer-events: none
            position: relative
            min-height: 100%
            min-width: 100%
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

    .types
        +clearfix
        width: 100%
        .col
            &.trial
                background: #E67E22
                width: 30%
            &.monthly
                background: #F1C40F
                width: 70%
            &:hover
                .img
                    transform: translate(-50%, -50%) scale(1.1)
                    +opacity(0.7)

    .other
        +clearfix
        width: 100%
        .col
            &.gifts
                background: #8E44AD
                width: 50%
            &.choose
                background: #3498DB
                width: 50%
            &:hover
                .img
                    transform: translate(-50%, -50%) scale(1.1)
                    +opacity(0.7)
