doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        block title
            title BeeSurprised
        link(rel="stylesheet", type="text/css", href="{{ url('css/style.css') }}")
    body
    
        block topbar
        block slider
        block how
        block boxes
        block locals
        block cta
        block footer
    
        script(type="text/javascript", src="{{ url('js/min/magic.min.js') }}")
    
    
