.boxes.section
    h2.title Las cajas mensuales
    
    ul.plans
        li.plan
            img.img("{{ url('img/plan1.png') }}")
            h3.title Salud y belleza
            a.btn(href="{{ url('/') }}") Saber más
        li.plan
            img.img("{{ url('img/plan2.png') }}")
            h3.title Consumo
            a.btn(href="{{ url('/') }}") Saber más
        li.plan
            img.img("{{ url('img/plan3.png') }}")
            h3.title Mix
            a.btn(href="{{ url('/') }}") Saber más
