.how.section
    h2.title Cómo funciona
    
    ul.steps
        li.step
            img.icon(src="{{ url('img/step1.png') }}")
            .text Escoge un tema
        li.step
            img.icon(src="{{ url('img/step2.png') }}")
            .text Escoge un plan
        li.step
            img.icon(src="{{ url('img/step2.png') }}")
            .text Recíbelo en tu casa
