.locals.section
    h2.title Aliados locales
    
    ul.brands
        li.brand
            img.img(src="{{ url('img/brand1.png') }}")
            .text Queenbee Honey
        li.brand
            img.img(src="{{ url('img/brand2.png') }}")
            .text Iik Cheén
        li.brand
            img.img(src="{{ url('img/brand3.png') }}")
            .text Honey Tree
        li.brand
            img.img(src="{{ url('img/brand4.png') }}")
            .text Honey
