.slider
    ul.list
        li.slide
            img.bg(src="{{ url('img/slide1-bg.jpg') }}")
            img.logo-slider(src="{{ url('img/logo-slide.png') }}", alt="BeeSurprised")
            .legend
                .text Sorpréndete con los beneficios que ofrece la miel directo a tu casa.
                a.btn(href="{{ url('/') }}") Conoce más
        li.slide
            img.bg(src="{{ url('img/slide2-bg.jpg') }}")
            .legend
                .text Sorpréndete con los beneficios que ofrece la miel directo a tu casa.
                a.btn(href="{{ url('/') }}") Conoce más
